<%= form_with(model: purchased, local: true) do |form| %>
  <% if purchased.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchased.errors.count, "error") %> prohibited this purchased from being saved:</h2>

      <ul>
      <% purchased.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_purchased %>
    <%= form.datetime_select :date_purchased, id: :purchased_date_purchased %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
