<p id="notice"><%= notice %></p>

<h1>Purchaseds</h1>

<table>
  <thead>
    <tr>
      <th>Date purchased</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchaseds.each do |purchased| %>
      <tr>
        <td><%= purchased.date_purchased %></td>
        <td><%= link_to 'Show', purchased %></td>
        <td><%= link_to 'Edit', edit_purchased_path(purchased) %></td>
        <td><%= link_to 'Destroy', purchased, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchased', new_purchased_path %>
