<p id="notice"><%= notice %></p>

<p>
  <strong>Item ct:</strong>
  <%= @cart.item_ct %>
</p>

<p>
  <strong>Item:</strong>
  <%= @cart.item %>
</p>

<p>
  <strong>Account:</strong>
  <%= @cart.account %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
