<p id="notice"><%= notice %></p>

<div class="row">
  <div class="column text-center">
    <h1>Items</h1>
  </div>
</div>
<% if is_current_account_admin %>
  <%= link_to 'New Item', new_item_path %>
<% end %>

<div class="row small-up-2 medium-up-3">
  <% @items.each do |item| %>
    <div class="column column-block">
      <%= item.name %>
      <%= item.price %>
      <%= item.sub_category %>
      <%= item.category %>
      <%= item.rating %>
      <%= item.manufacturer %>
      <img src="<%= item.img_url %>"/>
      <%= link_to 'Show', item %>
      <% if is_current_account_admin %>
        <%= link_to 'Edit', edit_item_path(item) %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>
