<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%if account_signed_in? %>
      <%= current_account.email %>
      <%= link_to 'Cart', 'carts#index' %>
      <%= link_to 'Purchases', 'purchases#index' %>
      <%= link_to "Sign out", destroy_account_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Register', new_account_registration_path %>
      <%= link_to 'Sign in', new_account_session_path %>
    <% end %>
    <%= yield %>


  </body>
</html>
